[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./guamapa/users/forms.py,
       ./manage.py,
       ./guamapa/config/*,
       ./guamapa/wsgi.py,
       *__init__*
